In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import scipy 
import scipy.stats

In [11]:
feature_data = pd.read_csv(r"https://raw.githubusercontent.com/bz374/ORIE5147Project/main/Possible%20Features.csv")

In [12]:
feature_data.head()

,ID Code,Sample ID Code,Parent 1 Highest Grade,Race,Sex,Self Esteem Score,AFQT Percentile Score,Type of Residence 1983,Average Drinks 2008,Highest Grade,Income 2018,Par 1 Alive,Par 2 Alive,Par 1 Death Age,Par 2 Death Age,Type Residence 1979,Fam Size 1979
0,1,5,12,3,2,-5,-4,-5,-5,12,-5,-4,-4,-4,-4,-4,5
1,2,5,8,3,2,16,6841,-4,-4,12,25000,0,1,-4,-4,-4,5
2,3,5,10,3,2,20,49444,11,2,12,80000,1,1,-4,-4,-4,5
3,4,5,10,3,2,-5,55761,11,-5,14,0,-4,-4,-4,-4,-4,5
4,5,1,13,3,1,23,96772,3,-5,18,-5,-4,-4,-4,-4,1,4